.pricipal{
    text-align: center;
    padding: 5%;
}

.card-color{
    background-color: rgba(240, 248, 255, 0);
    width: 30%;
    margin: auto;
}

.card-group{
    background-color: rgba(240, 248, 255, 0);
   
}

.card-option{
    display: flex;
    flex-direction: row;
    
}
a{
    text-align: center;
    margin: 1%;
    
}

.result{
    margin: auto;
    display: flex;
    align-content: space-between;
    width: 80%;
    text-align: center;
}

.imageResult{
    margin: auto;
    padding-top: 20px;
   
}

h3{
   color: rgb(255, 2, 242);
}

label{
    color: white;
}



